<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fiveonetwo.arithmetic.mapper.ScoreMapper">
    <insert id="insertScore">
        insert into score
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null ">uid,</if>
            <if test="type != null">type,</if>
            <if test="num != null ">num,</if>
            <if test="time != null ">time,</if>
            <if test="timeStamp != null ">timeStamp,</if>
            <if test="finalScore != null ">finalScore,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null ">#{uid},</if>
            <if test="type != null ">#{type},</if>
            <if test="num != null ">#{num},</if>
            <if test="time != null ">#{time},</if>
            <if test="timeStamp != null ">#{timeStamp},</if>
            <if test="finalScore != null ">#{finalScore},</if>
        </trim>
    </insert>
</mapper>